---
title: Release Notes for Zettaset XCrypt Archive for BOSH Backup and Restore
owner: Partners
---

These are release notes for Zettaset XCrypt Archive for BOSH Backup and Restore.


## <a id="ver"></a> v8.4.2

**Release Date:** September 20, 2018


